*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #EAC926;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 16px;
    padding: 16px;
}
.burguer-menu {background-color: #03264C;
color: white;
width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px}

.buscador {
    border-radius: 4px;
    flex-grow: 0.50;
    align-self: center;
}
.input{
    border-radius: 10px;
    padding: 8px;
}
.lupa {
    border-radius: 10px;
    padding: 8px;
}
.encavezado{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.logo {
    flex-grow: 0.50;
}
.anunciocompra{
    display: flex;
    align-items: center;
    align-self: center;
    flex-grow: 0;
    
}
.barrahome{
    display: none;
    flex-wrap: wrap;
}
.site {
    display: flex;
    flex-direction: row;
    width: 50%;

}
.site2 {
    flex-grow: 0.05;
    align-items: center;
    justify-content: center;
    color: black;
    font-style: normal;
}
.login {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: end; 
}
.login2{
    flex-grow: 0.10;
    display: flex;
    align-items: center;
}

/* -------------------------- Main ------------------------------------- */

.ulimaVisita{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}
img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.titulo{
font-size: 24px;
width: 100%;}

.producto {
    border-style: solid;
    border-color: #ebebeb;
    padding: 15px;
    min-width: 250px;
    max-width: 280px;
    transition: all 200ms;
}
.cajaprecio{
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #ebebeb;
    position: relative;
}
.carrito{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: -16px;
    transition: all 450ms;
    
}
.preciodescuento{
    display: flex;
    align-items: center;
    gap: 16px;
}
.precio {
    font-size: 18 px;
    font-style: normal;

}
.descuentos {
    font-size: 16 px;
    color: #39b54a;
    font-style: normal;
    
}
.descripciones {
    font-size: 16 px;
    display: none;
}

.ofertas{
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.titulodepie {
    font-size: 24px; 
}

#icono1 {
    margin: 5px;
}
#icono {
    margin: 5px;
    color: #1259c3;
}

/* ----------------------Animaciones--------------------------- */

.carrito:hover {
    opacity: 50%;
    rotate: -90deg;
}
.producto:hover {
    scale: 1.1;
}


@media (min-width: 768px) {
    .producto{ box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
    .descripciones { display: block;}
    .burguer-menu { display: none;}
    .barrahome {display: block;
        display: flex;
        flex-direction: row;
        justify-content: start;
        background-color: #EAC926;
    }
    .buscador{flex-grow: 0.20;}
    .logo {flex-grow: 0.40;}
    .anunciocompra {flex-grow: 0.20;}
    .ulimaVisita {
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ofertas{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
    }
    }
@media (min-width: 1023px){
    
}