<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>MercadoLiebre</title>
    <script src="https://kit.fontawesome.com/3cefa041a0.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <p>Lugar para poner barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li> Mis compras</li>
        </ul>
        <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
        <section class="ulimaVisita">
            <h2 class="titulo">Basado en tu última visita</h2>
            <div class="producto">
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                    <div class="cajaprecio">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h3 class="descripciones">Cafetera moulinex</h3>
                    </div>
            </div>
            <div class="producto">
                <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook pro">
                    <div class="cajaprecio">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h3 class="descripciones">MacBook Pro 2019</h3>
                    </div>
                
            </div>
            <div class="producto">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="cajaprecio">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <h3 class="descripciones">Samsung Galaxy S10</h3>
                    </div>
                
            </div>
            <div class="producto">
                <img src="/img/img-tv-samsung-smart.jpg" alt="Samsung Smart">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <h3 class="descripciones">SmartTV Samsung 43</h3>
                    </div>
                
            </div>        
        </section>
        <section class="ofertas">
            <h2>Ofertas</h2>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
            <p class="precio">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h3 class="descripciones">Cafetera moulinex</h3>
            <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook pro">
            <p class="precio">$230.000</p>
            <p class="descuentos">20% OFF</p>
            <h3 class="descripciones">MacBook Pro 2019</h3>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
            <p class="precio">$70.500</p>
            <p class="descuentos">10% OFF</p>
            <h3 class="descripciones">Samsung Galaxy S10</h3>
            <img src="/img/img-tv-samsung-smart.jpg"alt="Samsung Smart">
            <p class="precio">$23.200</p>
            <p class="descuentos">5% OFF</p>
            <h3 class="descripciones">SmartTV Samsung 43</h3>
            
        </section>
    </main>
    <footer class="final">
        <i class="fa-solid fa-credit-card" id="icono"></i>
        <h2 class="titulodepie">Pagá con tarjeta o en efectivo</h2>
        <p class="textodepie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fa-solid fa-gift" id="icono"></i>
        <h2 class="titulodepie">Envío gratis desde $ 2.500 </h2>
        <p class="textodepie">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fa-solid fa-user-shield" id="icono"></i>
        <h2 class="titulodepie">Seguridad, de principio a fin </h2>
        <p class="textodepie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>