<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingresa</title>
    <script src="https://kit.fontawesome.com/3cefa041a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <form action="ingreso.html" method="POST">
    <p>
        <label>Nombre de usuari@</label>
        <input type="text" name="usuario" required>
    </p>
    <p>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
    </p>
    <button type="submit"> Enviar </button>
    </form>
</body>
</html>